/*
    - area ainda em desenvolvimento!
    
    - area still under development! (translated into english.)
*/



/* stylizing the modal of note creation */

.modal-container-create {
      width: 100vw;
      height: 100vh;
      position: fixed;
      background: rgba(0,0,0,.5);
      top: 0px;
      left: 0px;
      z-index: 2000;
      display: flex;
      justify-content: center;
      align-items: center;
}

.modal-create {
      background: #f0fff0;
}
