@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;800&display=swap');

:root {
      font-family: 'Inter', sans-serif;
}

* {
      padding: 0;
      margin: 0 auto;
      box-sizing: border-box;
}

body {
      background: #f0f0f0;
}

/* styling the nav */

.add-note-button {
      text-align: center;
}

.tittle-brand {
      font-weight: 500;
      text-align: center;
      padding: 1rem;
}

/* styling the section */

.note-container {
      text-align: center;
      width: 95%;
      height: 500px;
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
}

.note-box {
      background: #f0fff0;
      width: 25%;
      min-width: 20%;
      height: 70%;
      min-height: 60%;
      padding: 1rem;
      border-radius: 0.3rem;
      box-shadow: 0 0 10px #77abf8;
      text-align: left;
}

.note-box:hover {
      background: #f0fff0;
      width: 25%;
      min-width: 20%;
      height: 70%;
      min-height: 60%;
      padding: 1rem;
      border-radius: 0.3rem;
      box-shadow: 0 0 20px #77abf8;
      text-align: left;
      cursor: pointer;
}

#annotation-text {
     padding-top: 1rem;
}

#annotation-user-data {
      padding-top: 1rem;
}

.btn-group {
      padding-top: inherit;
}

.bi-plus-circle {
      width: 30px;
      height: 100px;
      cursor: pointer;
}

.bi-pencil-square {
      width: 30px;
      height: 100px;
      cursor: pointer;
}

.bi-x-circle {
      width: 30px;
      height: 100px;
      cursor: pointer;
}

.bi-pencil-square:hover {
      width: 40px;
      height: 100px;
      cursor: pointer;
      color: #478aee;
}

.bi-x-circle:hover {
      width: 40px;
      height: 100px;
      cursor: pointer;
      color: #c21515;
}

.bi-plus-circle:hover {
      width: 40px;
      height: 100px;
      cursor: pointer;
      color: #117a11;
}

/* styling the footer */

.footer-infos {
      width: 100%;
      height: 100px;
}

.footer-p {
      text-align: center;
      color: #b4b4b4;
      font-weight: 300;
      font-size: 20px;
      padding: 1rem;
}